<% @orders.each do |order| %>
	<%= order %>
	<table style="width:100%;">
		<tbody>
			<tr>
				<td colspan=4 style="text-align:center;background-color:red;">Order <%= order[:id] %></td>
			</tr>
			<tr>
				<td colspan=2>
					<p>
						<b>Order Date: <%= order[:created_at] %></b><br/>
						<b>Deadline Date: <%= order[:deadline] %></b><br/>
						<b>Approved Date: <%= order[:accepted_date] %></b><br/>
						<b>Requested By: </b><br/>
						<b>Payment Method: <%= order[:payment_method] %></b>
					</p>
				</td>
				<td colspan=2>
					<p>
						<b>Ship To:</b>
					</p>

					<br/>

					<p>
						<%= order[:order_receipient] %><br/>
						<%= order[:address] %><br/>
						<%= order[:city] %>, <%= order[:state] %> <%= order[:zipcode] %>
					</p>

					<br/>

					<p>
						<b>Company:</b>
					</p>

					<br/>

					<p>

					</p>
				</td>
			</tr>
		</tbody>
	</table>
<% end %>

<%= @customers %>