<% @orders.each do |order| %>
	<% @customer = @customers[order['customer_id'].to_s] %>

	<table style="width:100%;margin-bottom:15px;">
		<tbody>
			<tr>
				<td colspan=6 style="text-align:center;background-color:red;height:75px;">Order <%= order['id'] %></td>
			</tr>
			<tr>
				<td colspan=3 style="border: 1px solid black;padding-left:20px;">
					<p>
						<b>Order Date:</b> <%= order['created_at'].to_date.strftime('%Y-%m-%d') %><br/>
						<b>Deadline Date:</b> <%= order['deadline'] %><br/>
						<b>Approved Date:</b> <%= order['accepted_date'] %><br/>
						<b>Requested By: </b><br/>
						<b>Payment Method:</b> <%= order['payment_method'] %></b>
					</p>
				</td>
				<td colspan=3 style="border: 1px solid black;padding-left: 20px;">
					<p>
						<b>Ship To:</b><br/>
						<%= order['order_receipient'] %><br/>
						<%= order['address'] %><br/>
						<%= order['city'] %>, <%= order['state'] %> <%= order['zipcode'] %>

						<br/>

						<b>Company:</b><br/>
						<%= @customer['company_name'] %><br/>
						<%= @customer['contact_email'] %><br/>
						<%= @customer['phone_number'] %>

					</p>
				</td>
			</tr>

			<tr>
				<th style="text-align: center;border: 1px solid black;">Line #</th>
				<th style="text-align: center;border: 1px solid black;">Item Number</th>
				<th style="text-align: center;border: 1px solid black;">Item Description</th>
				<th style="text-align: center;border: 1px solid black;">Qty Ordered</th>
				<th style="text-align: center;border: 1px solid black;">Price</th>
				<th style="text-align: center;border: 1px solid black;">Notes</th>
			</tr>

			<% @order_items.each_with_index do |item, index| %>
				<tr>
					<td style="text-align: center;border: 1px solid black;"><%= index + 1 %></td>
					<td style="text-align: center;border: 1px solid black;"></td>
					<td style="text-align: center;border: 1px solid black;"><%= @item_references[item['reference_id'].to_s] %></td>
					<td style="text-align: center;border: 1px solid black;"><%= item['quantity'] %></td>
					<td style="text-align: center;border: 1px solid black;"><%= number_to_currency(item['item_total']) %></td>
					<td style="text-align: center;border: 1px solid black;"><%= item['note'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>