<%= @order_items %>
<% @orders.each do |order| %>
	<%= @customer = @customers[order['customer_id'].to_s] %>

	<table style="width:100%;">
		<tbody>
			<tr>
				<td colspan=4 style="text-align:center;background-color:red;">Order <%= order['id'] %></td>
			</tr>
			<tr>
				<td colspan=2>
					<p>
						<b>Order Date:</b> <%= order['created_at'] %><br/>
						<b>Deadline Date:</b> <%= order['deadline'] %><br/>
						<b>Approved Date:</b> <%= order['accepted_date'] %><br/>
						<b>Requested By: </b><br/>
						<b>Payment Method:</b> <%= order['payment_method'] %></b>
					</p>
				</td>
				<td colspan=2>
					<p>
						<b>Ship To:</b>
					</p>

					<br/>

					<p>
						<%= order['order_receipient'] %><br/>
						<%= order['address'] %><br/>
						<%= order['city'] %>, <%= order['state'] %> <%= order['zipcode'] %>
					</p>

					<br/>

					<p>
						<b>Company:</b>
					</p>
					<p>
						<%= @customer['company_name'] %><br/>
						<%= @customer['contact_email'] %><br/>
						<%= @customer['phone_number'] %>

					</p>

					<br/>

					<p>

					</p>
				</td>
			</tr>
		</tbody>
	</table>
<% end %>