<h3 style="text-align:center;"><%= @request_type %> Request</h3>
<h4 style="text-align:center;"><%= @approved_status %></h4>

<p><%= @approved_by %> has <%= @approved_status.downcase %> your request. If you have any questions please contact your manager.</p>
<p>Please login to make any future requests. <%= link_to 'Time Off Portal', 'http://request_off_test.enduraproducts.com' %></p>